:root {
    --white: #fff;
    --black: #000;
    --black2: #131313;
    --lightwhite: #FCFCF4;
    --lightblue: #F4F8FC;
    --border1: #E0E7F5;
    --themegradientblue: linear-gradient(180deg, #004CD3 0%, #3078F8 100%);
    --fontdm: "DM Sans", sans-serif;
}