@use "@/styles/mixin" as *;

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 30px 0 20px 0;

    .headerflx {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--lightblue);
        border: 1px solid var(--border1);
        padding: 13px 20px;
        border-radius: 16px;

        .headerlinks {
            display: flex;
            align-items: center;
            gap: 40px;

            a {
                @include font20;
                color: var(--black3muted);
                transition: .4s ease-in-out;

                &:hover {
                    color: var(--black2);
                }
            }

            .active {
                color: var(--black2);
            }
        }
    }
}